body, #container, #controlPanel {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #AAAAAA;
}

body {
    overflow: hidden;
    min-height: 100%;
}

#description {
    padding: 5px 0px 5px 15px;
    font-style: italic;
    font-size: 16px;
    background-color: #AAAAAA;
    border-top: 1px solid black;
}

#container {
    min-height: 100%;
}

html {
    height: 100%;
}

#controlPanel {
    border-bottom: 2px black solid;
    background-color: #EEEEEE;
}

#canvasPanel {
    margin: 0px;
    padding: 0px;
}

#reset, #closeHelp{
    background: url(../images/reset.png) no-repeat;
}

#select {
    background: url(../images/select.png) no-repeat;
}

#fenceSelect {
    background: url(../images/fence_select.png) no-repeat;
}

#drawSkeleton {
    background: url(../images/bone_add.png) no-repeat;
}

#drawSkin {
    background: url(../images/skin_add.png) no-repeat;
}

#move {
    background: url(../images/move.png) no-repeat;
}

#removeBone {
    background: url(../images/bone_remove.png) no-repeat;
}

#removeSkin {
    background: url(../images/skin_remove.png) no-repeat;
}

#forwardKinematics {
    background: url(../images/fwk.png) no-repeat;
}

#openHelp {
    background: url(../images/help.png) no-repeat;
}

.btnContainer .btn {
    width: 48px;
    height: 48px;
    border: none;
    cursor: pointer;
}

.btnContainer .mini-btn {
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
}

.mini-btn {
    border: none;
    cursor: pointer;
    background-size: 24px !important;
    position: relative;
}

.btnContainer {
    margin: 0px;
    padding: 0px;
    display: inline-block;
}

#controls {
    padding: 0px;
    margin: 0px;
    height: 48px;
}

.divider {
    width: 48px;
    display: inline-block;
}

.active {
    background: #11A0DD;
    height: 48px;
}

.btnContainer .btn[disabled] {
    background-size: 24px !important;
    position: relative;
    left: 12px;
    top: 12px;
    cursor: default;
}

input:focus {
    outline: none;
}

.right {
    float: right;
}

#modalDialog {
    position: absolute;
    left: 20%;
    top: 20%;
    background-color: grey;
    width: 650px;
    border: 1px solid black;
    color: white;
    border-radius: 10px;
    font-family: arial;
    display: none;
}

#modalDialog header{
    height: 24px;
    border-bottom: 1px solid black;
    padding: 5px;
    padding-left: 40px; 
}

#modalDialog header h3{
    display: inline;
}

#modalDialog #helpText{
    padding: 5px;
}