body, #container, #controlPanel {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #AAAAAA;
}

body {
    overflow: hidden;
    min-height: 100%;
}

#description {
    padding: 5px 0px 5px 15px;
    font-style: italic;
    font-size: 16px;
    background-color: #AAAAAA;

}

#container {
    min-height: 100%;
}

html {
    height: 100%;
}

#controlPanel {
    border-bottom: 2px black solid;
    background-color: white;
}

#canvasPanel {
    margin: 0px;
    padding: 0px;
}

.hidden {
    display: none;
}

.btn {
    background: #0b41ad;
    background-image: -webkit-linear-gradient(top, #0b41ad, #2b97b8);
    background-image: -moz-linear-gradient(top, #0b41ad, #2b97b8);
    background-image: -ms-linear-gradient(top, #0b41ad, #2b97b8);
    background-image: -o-linear-gradient(top, #0b41ad, #2b97b8);
    background-image: linear-gradient(to bottom, #0b41ad, #2b97b8);
    font-family: Georgia;
    font-size: 14px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    color: white;
}

.btn:hover {
    text-shadow: 2px 2px 0px black;
}

#controls {
    width: 100%;
    background: #2b97b8;
    background-image: -webkit-linear-gradient(top, #0b41ad, #2b97b8);
    background-image: -moz-linear-gradient(top, #0b41ad, #2b97b8);
    background-image: -ms-linear-gradient(top, #0b41ad, #2b97b8);
    background-image: -o-linear-gradient(top, #0b41ad, #2b97b8);
    background-image: linear-gradient(to bottom, #0b41ad, #2b97b8);
}

.active {
    background: #FFA822;
    background-image: -webkit-linear-gradient(top, #AA4444, #FFA822);
    background-image: -moz-linear-gradient(top, #AA4444, #FFA822);
    background-image: -ms-linear-gradient(top, #AA4444, #FFA822);
    background-image: -o-linear-gradient(top, #AA4444, #FFA822);
    background-image: linear-gradient(to bottom, #AA4444, #FFA822);
}

.btn[disabled] {
    display: none;
}