body, #container, #controlPanel {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #AAAAAA;
}

body {
    overflow: hidden;
    min-height: 100%;
}

#description {
    padding: 5px 0px 5px 15px;
    font-style: italic;
    font-size: 16px;
    background-color: #AAAAAA;
    border-top: 1px solid black;
}

#container {
    min-height: 100%;
}

html {
    height: 100%;
}

#controlPanel {
    border-bottom: 2px black solid;
    background-color: #EEEEEE;
}

#canvasPanel {
    margin: 0px;
    padding: 0px;
}

#reset{
    background: url(../images/reset.png) no-repeat;
}

#select{
    background: url(../images/select.png) no-repeat;
}

#fenceSelect{
    background: url(../images/fence_select.png) no-repeat;
}

#drawSkeleton{
    background: url(../images/bone_add.png) no-repeat;
}

#drawSkin{
    background: url(../images/skin_add.png) no-repeat;
}

#move{
    background: url(../images/move.png) no-repeat;
}

#removeBone{
    background: url(../images/bone_remove.png) no-repeat;
}

#removeSkin{
    background: url(../images/skin_remove.png) no-repeat;
}

#forwardKinematics{
    background: url(../images/fwk.png) no-repeat;
}

.btnContainer .btn  {
    width: 48px;
    height: 48px;
    border: none;
    cursor: pointer;
}

.btnContainer{
    display: inline-block;    
}

.divider{
    width: 48px;
    display: inline-block;
}

.active {
    background: #11A0DD;
}

.btn[disabled] {
    background-size: 24px !important;
    width: 24px;
    height: 24px;
    margin: 12px !important;
    cursor: default;
}   